<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<style>
    body{
        height:100vh;
        background-color:#f1eee9;
        display: flex;
    }
</style>
<body>
    <h2>Email already exists....Please use another one</h2>
</body>
</html>